.meniu {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 5em;

    ul {
        display: none;
        position: absolute;
        list-style-type: none;
        align-items: center;
    }

    li {
        position: relative;
        cursor: pointer;
        padding: 1em 0;
        width: 100%;
    }

    li:hover>ul {
        display: flex;
        flex-direction: column;
        border: 1px white;
        margin: 1em 0 0 0;
        padding: 0;
        width: 100%;
        
    }

    li ul {
        width: 100%;
        display: none;
        position: absolute;
        /* ca sa il scot din container pe alt layer, sa nu imi deplaseze continutul cand devine vizibil*/
        width: 15%;
        background-color: #2E3949;
    }

    li ul li {
        letter-spacing: 0px;
        text-align: center;
        padding: 1em 0;
    }

    .underline::before {
        content: "";
        position: absolute;
        right: 0;
        z-index: 3;
        bottom: 0;
        width: 0;
        height: 4px;
        background: linear-gradient(to left, white, #2E3949);
        transition: width 0.5s ease-in, left 0.5s ease-in;
        
    }

    .underline:hover::before {
        width: 100%;
        right: 0;
        left: auto;
    }

    li ul li:hover {
        background-color: #f0f0f0; 
         
    }

    li ul li:hover a {
        background-color: #f0f0f0; 
        color: black; 
    }
}




#hamburger {
    display: none;
}

#ch-menu {
    display: none;
}

#acasa-mediu {
    display: none;
}