<footer>
    <a href="http://www.google.com" target="_blank">Google</a>
    <a href="#" title="Top" id="link-top">
      <div id="sageata">
        <p>&#129081</p>
       <!--<div id="patrat"></div>
        <div id="triunghi"></div>-->
      </div>
    </a>
    <p class="intro" style="color: rgb(203, 196, 196); text-decoration: underline;">Va multumim pentru vizita!</p>
    <address>
      Strada Academiei 14
      <p><small style=" color: rgb(203, 196, 196);">Copyright &copy; <time datetime="2024-03-04">4 martie 2024</time></small></p>
    </address>
  </footer>